.logo-image{
  height:75px;
  width: 75px;
}

.header-outer-wrap{
  padding: 10px 35px;
  background: #121111;
}

.header-inner-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.export-button{
  padding: 10px;
  background-color: #4075ec;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.collapsible-wrap{
  height: 530px;
  width: 20%;
  margin-left: 15px;
  margin-top: 20px;
  background-color: #f0f0f0;
}

.Collapsible__contentInner{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.collapsible-content{
  padding: 14px 5px;
  background: lightgrey;
  margin-bottom: 10px;
}

.chart-wrap {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrap{
  display: flex;
}

canvas.chartjs-render-monitor{
  width: 700px !important;
  height: 350px !important;
}